.game-board {
  grid-area: board;
  display: flex;
  flex-wrap: wrap;
}

.loading {
  font-size: 20px;
  font-family: sans-serif;
  color: black;
}

.romanov .game-board {
  background-color: #1E5C81;
}