
img.faceDown {
  cursor: pointer;
}

img.faceUp {
  cursor: not-allowed;
}

img.unmatched {
  opacity: 1;
}

img.matched {
  opacity: 0.6;
}

.romanov img.card {
  width: 190px;
  height: 285px;
  margin: 5px 10px;
}