body {
  margin: 0;
}

.game-layout {
  display: grid;
  grid-template-areas: "head head"
                       "options board"
                       "score board";
  grid-template-rows: 10vh 1fr;
  grid-template-columns: 15vw 1fr;
  grid-gap: 5px;
}

.grid-header-container {
  grid-area: head;

  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #c9d1f5;
  padding: 10px;
  border: 1px outset #666;
  border-radius: 5px;
}

.grid-header-container .title {
  font-size: 2em;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.deck-name {
  font-size: 2em;
  font-weight: bold;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.justify-left {
  text-align: left
}

.justify-end {
  text-align: right;
}

.justify-center {
  text-align: center;
}

.logo img {
  width: 4em;
  height: 4em;
  margin-left: 1em;
}

.game-options {
  grid-area: options;
  
  /* background-color: #c9d1f5; */
  padding: 10px;
  /* border: 1px outset #666;
  border-radius: 5px; */
}
.game-options header {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}

.sidebar-container {
  grid-area: score;

  display: grid;
  grid-template-rows: 100px auto auto;
  background-color: #c9d1f5;
  padding: 10px;
  border: 1px outset #666;
  border-radius: 5px;
}
.sidebar-container header {
  font-size: 1.5em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.sidebar-container .controls {
  text-align: center;
}

.label {
 text-align: left;
 font-size: 14px;
 color: #333;
}
.counter {
  text-align: right;
  color: #5168e9;
  font-size: 16px;
  font-weight: bold;
}

.game-status-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(24, 21, 16);
  font-weight: bold;
}

.game-options {
  display: block;
  width: 200px;
  height: 100px;
  z-index: 10;
}


.hide-card {
  visibility: hidden;
}
